.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    fill: #999;
}

.horizontalGrid 
{
    fill: none;
    shape-rendering: crispEdges;
    stroke: #eee;
    stroke-width: 1px
}



path.color1, path.color1
{
    stroke: rgb(244,189,58);
}
rect.color1
{
    fill: rgb(244,189,58);
}


rect {
    stroke: white;
    fill-opacity:0.65;
    fill: #1db34f;
}








/*from original histograms */




.line {
  fill: none;
 /* stroke: purple; */
  stroke-width: 1.5px;
}

.moving 
{
    /*stroke: orange;*/
}

.datum_info
{
    /*fill: Gray;*/
    /*font: 300 40px Helvetica Neue;*/
}

.shaded 
{
   /* fill: steelblue; */
    fill-opacity:0.5;
}



.box {
  font: 10px sans-serif;
}


.box line,
.box rect,
.box circle {
  stroke-width: 1.5px;
  stroke: Gray;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}


