    body 
    {
        background: rgb(49,182,253);
        margin: 0px;
        font-family: Calibri;
        padding: 0px;
    }
    
    a
    {
        color: rgb(69,132,211);
    }
        a:hover
        {
            color: rgb(165,208,40);
        }
        
    #main 
    {
        background: White;
        color: Black;
        width: 800px;
        margin: 0px auto;
        -moz-box-shadow:    1px 1px 10px 1px #0F0A0A;
        -webkit-box-shadow: 1px 1px 10px 1px #0F0A0A;
        box-shadow:         1px 1px 10px 1px #0F0A0A;
        position: relative;
    }
    
        #main > div 
        {
            padding: 50px 10% 20px 10%;
        }
    
      .styled-select 
    {
        /* width: 200px; */
        height: 34px;
        overflow: hidden;
        background: url(/public/down_arrow_brown.jpg) no-repeat right rgb(255,255,153);
        border: 2px solid rgb(244,189,58);
        border-radius: 5px;
        display: inline-block;
        color: rgb(244,189,58);
        box-shadow: 1px 1px 5px 0px #0F0A0A;
        margin-right: 20px;
    }
   
        .styled-select select, .styled-select input 
        {
            background: transparent;
            /* width: 268px; */
            padding: 5px;
            font-size: 16px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            height: 34px;
            -webkit-appearance: none;
            color: rgb(147,106,8);
        }
  
    #top_bar 
    {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 30px;
        width: 100%;
        background: rgb(69,132,211);
        -moz-box-shadow:    1px 1px 10px 1px #0F0A0A;
        -webkit-box-shadow: 1px 1px 10px 1px #0F0A0A;
        box-shadow:         1px 1px 10px 1px #0F0A0A;
        margin: 0px;
        z-index: 10;
    }
    
        #top_bar > div
        {
            width: 800px;
            margin: 0px auto;
            padding: 0;
            color: White;
            text-align: right;
            height: 100%;
            text-align: center;
        }
        
                #top_bar span
                {
                    padding: 3px;
                    color: White;
                    text-align: right;
                }
                
        #top_bar .styled-select
        {
            background: rgb(49,182,253);
            display: inline-block;
            height: 100%;
            width: 150px;
            border: 0px none;
            border-radius: 0px;
            box-shadow: none;
        }
        
            #top_bar .styled-select:hover
            {
                background: rgb(165,208,40);
            }
                
            #top_bar .styled-select select
            {
                Color: White;
                cursor: pointer;
                width: 100%;
            }


h1 
{
        height: 30px;
        padding: 5px;
        border: 0px solid rgb(244,189,58);
        color: rgb(244,189,58);
        border-bottom-width: 3px;
        background: none;
        margin: 0px;
}


    
    .instructions
    {
        font-style: italic;
        display: block;
    }
    
    .ajax
    {
            display: none;
     }    
        
       .ui-accordion
       {            
           /* width: 80%;
            margin: 10px 10%; */
       }
       
            .ui-accordion .ui-accordion-header 
            {
            margin-top: 10px;
            }
       
           .ui-accordion-header
           {
            background: rgb(49,182,253);
            color: White;
            border: rgb(69,132,211) 2px solid;
            margin-top: 10px;
            text-align: center;
           }
       
               .ui-accordion-header:hover
               {
                background: rgb(69,132,211);
               }
       
               ui-accordion-header-active
               {
                background: rgb(69,132,211);
               }
               
               
            .ui-accordion-content
           {
            background: rgb(49,182,253);
            color: White;
            border: rgb(69,132,211) 2px solid;
            border-top: 0px;
           }     
           .ui-accordion .ui-accordion-header .ui-accordion-header-icon 
           {
               background: none;
           } 


        
        
    #panels 
    {
        margin-bottom: 30px;
    }

    #header 
    {
        background: rgb(69,132,211);
        color: White;
        padding: 20px;
    }
    

       #goToPlotButton
       {
           background: rgb(49,182,253);
            display: block;
            padding: 30px 0px;
            text-align: center;
            margin: 20px 5%;
            position: absolute;
            bottom: 0px;
            width: 90%;
            color: white;
            font-size: 30px;
            text-decoration: none;
            box-shadow: 1px 1px 5px 0px #0F0A0A;
            border-radius: 5px;
            display: none;
       }
       

    #hostname
    {
        color: rgb(49,182,253);
        font-size: 35px;
    }

    #panels > div
    {
        font-size: 14px;
    }
        #panels li {
            list-style-type: disk;
        }


       #panels .styled-select {
        border: 2px White solid;
        box-shadow: none;
       }





        table
{
border-collapse:collapse;
            font-size: 12px;
}
table,th, td
{
border: 2px solid White;
}

td {
padding: 5px 10px;
text-overflow: ellipsis;
white-space: nowrap;
}
thead 
{
    background: rgb(245,192,62);
    color: White;
    }
tbody tr:nth-child(even) {background: rgb(251,232,205)}
tbody tr:nth-child(odd) {background: rgb(253,244,232)}


       
    button, .button {
        padding: 10px;
        font-size: 17px;
        height: 37px;
        overflow: hidden;
        background: rgb(165,208,40);
        border: 2px solid rgb(120,152,26);
        border-radius: 5px;
        display: inline-block;
        color: White;
        text-decoration: none;
    }

    button:hover, .button:hover 
    {
        background: rgb(120,152,26);
    }

    /*svg styling */
    #plotCanvas {
        display: none;
        }
        
        #plotCanvas svg{
            font: 10px sans-serif;
            }
            
        #plotCanvas button 
        {
            width: 100px;
        box-shadow: 1px 1px 5px 0px #0F0A0A;
        margin-left: 0px;
        }

.jspDrag {
background: rgb(255,255,153);
}

.jspTrack {
background: rgb(244,189,58);
}